#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	

}
img {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#blurBG {
	-webkit-filter: blur(4px);
	   -moz-filter: blur(4px);
	    -ms-filter: blur(4px);
	     -o-filter: blur(4px);
	        filter: blur(4px);
}


/* smash 1 */
/*#throughGlass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	mask-image: url(../images/masks/mask-1-alpha.png);
	-webkit-mask-image: url(../images/masks/mask-1-alpha.png);
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 0 0;
	mask-type: alpha;
}*/


/* smash 2 */
#throughGlass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	mask-image: url(../images/masks/mask-2-alpha.png);
	-webkit-mask-image: url(../images/masks/mask-2-alpha.png);
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 0 0;
	mask-type: alpha;
}

/* smash 3 */
/*#throughGlass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	mask-image: url(../images/masks/mask-3-alpha.png);
	-webkit-mask-image: url(../images/masks/mask-3-alpha.png);
	-webkit-mask-size: 100% 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 0 0;
	mask-type: alpha;
}*/